# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# Visual Studio Code
.vscode/

# Flutter/Dart
.dart_tool/
.packages
build/
*.lock
pubspec.lock

# Flutter state
.flutter-plugins
.flutter-plugins-dependencies